{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-between">
        <h1>Add User</h1>
        <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Back</a>
    </div>

    <form action="{{ url_for('register') }}" method="POST">
        {{ form.csrf_token }}
        
        <div class="form-group">
            <label for="username">Username:</label>
            {{ form.username(class="form-control", id="username") }}
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            {{ form.password(class="form-control", id="password") }}
        </div>

        <div class="form-group form-check">
            {{ form.is_root(class="form-check-input", id="is_root") }}
            <label class="form-check-label" for="is_root">Is Root?</label>
        </div>

        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}
